apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  labels:
{{- include "java-hello-world.labels" . | indent 4 }}
{{- include "java-hello-world.commonLabels" . | indent 4 }}
{{- if .Values.labels }}
{{ toYaml .Values.labels | indent 4 }}
{{- end }}
  annotations:
{{- include "java-hello-world.annotations" . | indent 4 }}
{{- if .Values.annotations }}
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
spec:
  ports:
  - name: {{ .Values.name }}
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
  selector:
    app_name: {{ .Values.name }}
